<div class='container'>
    <div class='clicker clickable' id='clicker'>Click</div>
    <div class='container-data'>
        <div class='counter' id='counter'>Money</div>

        <div class='buy-list'>
            <p>Shop:</p>
            {{#each items}}
                <li class='buy clickable' data-upgrade={{@key}}>
                    Buy {{this.name}} (Cost: {{this.cost}}, Production: {{this.production}})
                    <span data-upgrade={{@key}} class='upgrade-count'></span>
                </li>
            {{/each}}
        </div>
    </div>

</div>
